img
{
    float: left;
    padding: 3em;
    clear: left;
}
body
{
    background-color: #99ccff;
    background-image: url(../body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-size: 12pt;
}
p.name
{
    font-size: 60pt;
    color: #00d2f7;
}
p.bio
{
    clear: right;
    font-family: Arial, Helvetica, serif;
    font-size: 12pt;
}
p.links
{
    padding: 3em;
    font-family: Arial, Helvetica, serif;
}
a
{
    color: #f4df42;
}
a:hover
{
    color: #db6f6f;
}

span
{
    font-weight: bold;
    color: #00d2f7;
}
